* {
	font-family: 'Plus Jakarta Sans', sans-serif;
	letter-spacing: 1px;
}

body {
	background-color: #252c33;
}

#hero {
	padding-top: 2rem;
	background-color: #252c33;
}

footer {
	background-color: #252c33;
}

.tombol-hover {
	text-decoration: none;
}

.tombol-hover:hover {
	text-decoration: underline;
}

.picture-projects {
	height: 220px;
}

.bold {
	font-size: 30px;
	font-weight: bold;
}

.glow {
	color: #fff;
	text-shadow: 0 0 4px #fff, 0 0 7px #fff, 0 0 11px #fff, 0 0 15px #199ef3, 0 0 19px #199ef3, 0 0 23px #199ef3, 0 0 27px #199ef3, 0 0 33px #199ef3;
}
.glowing {
	/* font-family: 'Vibur', cursive; */
	/* font-size: 25px; */
	animation: flicker 1.5s infinite alternate;
	color: #fff;
}

/* Flickering animation */
@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 7px #fff, 0 0 11px #fff, 0 0 15px #199ef3, 0 0 19px #199ef3, 0 0 23px #199ef3, 0 0 27px #199ef3, 0 0 25px #199ef3;
	}
	20%,
	24%,
	55% {
		text-shadow: none;
	}
}
