* {
	font-family: 'Plus Jakarta Sans', sans-serif;
	letter-spacing: 1px;
}

body {
	background-color: #252c33;
}

#hero {
	padding-top: 2rem;
	background-color: #252c33;
}

footer {
	background-color: #252c33;
}

.tombol-hover{
	text-decoration: none;
}

.tombol-hover:hover {
	text-decoration: underline;
}